.title{
    text-align: center;
}
.navbar-button{
    text-align: right;
    padding-right: 5em;
}
.divtable{
    margin-left: 1%;
    margin-right: 1%;
}
.refreshbutton{
    margin-right: 1%;
    margin-top: -15px;
    float: right;
}
.refreshbutton:hover{
    background-color: gray;
}
h1{
    font-family: "Garamond",serif;
    font-weight: bold;
    text-decoration: underline;
}
.navbar-icon-custom{
    font-size: 2rem;

}
a, a:visited{
    color: white;
  }
  a:hover{
      color: gray ;
  }